aside.navbar#navbar
  nav.navbar__nav
    .navbar__inner
      ul.navbar__list
        li.navbar__item
          a.navbar__link(href="#") Плёнка
        li.navbar__item
          a.navbar__link(href="#") Мешки и пакеты
        li.navbar__item
          a.navbar__link(href="#") Флексопечать
        li.navbar__item
          a.navbar__link(href="#") О компании
  


  