aside.navbar#navbar
  nav.navbar__nav
    .navbar__inner
      ul.navbar__list
        li.navbar__item
          a.navbar__link(href="#") Плёнка
          .navbar__toggler
          ul.navbar__sublist
            li.navbar__item
              a.navbar__link(href="#") Подкатегория
            li.navbar__item
              a.navbar__link(href="#") Подкатегория
            li.navbar__item
              a.navbar__link(href="#") Подкатегория
        li.navbar__item
          a.navbar__link(href="#") Мешки и пакеты
          .navbar__toggler
          ul.navbar__sublist
            li.navbar__item
              a.navbar__link(href="#") Подкатегория
            li.navbar__item
              a.navbar__link(href="#") Подкатегория
            li.navbar__item
              a.navbar__link(href="#") Подкатегория
        li.navbar__item
          a.navbar__link(href="#") Флексопечать
        li.navbar__item
          a.navbar__link(href="#") О компании
          .navbar__toggler
          ul.navbar__sublist
            li.navbar__item
              a.navbar__link(href="#") Подкатегория
            li.navbar__item
              a.navbar__link(href="#") Подкатегория
            li.navbar__item
              a.navbar__link(href="#") Подкатегория
  


  