header.header
  .container.header__items 
    .header__item.header__item--logo.logo
      | Финфлекс
    nav.header__item.header__item--menu.nav
      ul.nav__list
        li.nav__item.nav__item--parent
          a.nav__link(href="#") Плёнка
          .nav__toggler
          ul.nav__sublist
            li.nav__item
              a.nav__link(href="#") Подкатегория
            li.nav__item
              a.nav__link(href="#") Подкатегория
            li.nav__item
              a.nav__link(href="#") Подкатегория
        li.nav__item.nav__item--parent
          a.nav__link(href="#") Мешки
          .nav__toggler
          ul.nav__sublist
            li.nav__item
              a.nav__link(href="#") Подкатегория
            li.nav__item
              a.nav__link(href="#") Подкатегория
            li.nav__item
              a.nav__link(href="#") Подкатегория
        li.nav__item
          a.nav__link(href="#") Флексопечать
        li.nav__item.nav__item--parent
          a.nav__link(href="#") О компании
          .nav__toggler
          ul.nav__sublist
            li.nav__item
              a.nav__link(href="#") Подкатегория
            li.nav__item
              a.nav__link(href="#") Подкатегория
            li.nav__item
              a.nav__link(href="#") Подкатегория
    .header__item.header__item--callback
      .callback
        a.callback__phone(href='tel:+78126003214') <span>+7 (812)</span> 600-32-14
        .callback__btn
        .callback__info
          a.callback__link(href='mailto:sales@finfleks.ru') sales@finfleks.ru
          a.callback__link.icon.icon--vk(href='#')
          a.callback__link.icon.icon--youtube(href='#')
    .navbar-toggler
      span
      span
      span
