header.header
  .container.header__items 
    a.header__item.header__item--logo.logo(href="main.html")
      | Финфлекс
    nav.header__item.header__item--menu.nav
      ul.nav__list
        li.nav__item.nav__item--parent
          a.nav__link(href="category.html") Плёнка
          .nav__toggler
          ul.nav__sublist
            li.nav__item
              a.nav__link(href="product.html") Подкатегория
            li.nav__item
              a.nav__link(href="product.html") Подкатегория
            li.nav__item
              a.nav__link(href="product.html") Подкатегория
        li.nav__item.nav__item--parent
          a.nav__link(href="category.html") Мешки
          .nav__toggler
          ul.nav__sublist
            li.nav__item
              a.nav__link(href="product.html") Подкатегория
            li.nav__item
              a.nav__link(href="product.html") Подкатегория
            li.nav__item
              a.nav__link(href="product.html") Подкатегория
        li.nav__item
          a.nav__link(href="category.html") Флексопечать
        li.nav__item.nav__item--parent
          a.nav__link(href="about.html") О компании
          .nav__toggler
          ul.nav__sublist
            li.nav__item
              a.nav__link(href="product.html") Подкатегория
            li.nav__item
              a.nav__link(href="product.html") Подкатегория
            li.nav__item
              a.nav__link(href="product.html") Подкатегория
        li.nav__item.nav__item--parent
          a.nav__link(href="contacts.html") Контакты
    .header__item.header__item--callback
      .callback
        a.callback__phone(href='tel:+78126003214') <span>+7 (812)</span> 600-32-14
        .callback__btn
        .callback__info
          a.callback__link(href='mailto:sales@finfleks.ru') sales@finfleks.ru
          a.callback__link.icon.icon--vk(href='https://vk.com/public153046859')
            <svg><use xlink:href="#vk"></use></svg>
          a.callback__link.icon.icon--youtube(href='https://www.youtube.com/channel/UC1X1AnrvfrF9fbzYYZGpTIA?view_as=subscriber')
            <svg><use xlink:href="#youtube"></use></svg>
    .navbar-toggler
      span
      span
      span
