include includes/mixins.pug
doctype html
<html lang="en">

include includes/head.pug

body
  include includes/aside.pug
  .wrapper#panel
    include includes/header.pug
    main.main
      section.section.section--page.section--article
        .container
          +breadcrumbs('О компании', 'Главная')
          h1.page__title О компании
          .section__row
            .section__part.section__part--7
              p.section__text Компания «Финфлекс» соблюдает ГОСТы. На сырьё, и том числе, на всю готовую продукцию, имеются сертификаты. Организован контроль качества, это необходимо для производства пакетов и плёнок пищевого назначения. Виды продукции: пленка упаковочная ПВД и ПНД, пленка термоусадочная ПВД, мешки для групповой упаковки ПВД, ПНД, мешки-вкладыши в гофро-короба, мешки «фасовка» ПВД, ПНД в блоках и на втулках, пакеты-«майка», пакеты «календарь» с прорубной ручкой, пакеты по индивидуальным размерам, стрейч-пленка, скотч. 
            .section__part.section__part--3
              .section__photo.section-photo 
                .section-photo__inner
                  .section-photo__img         
                    img.img.img--responsive(src="img/about-1.png")
          .section__row.section__row--reverse
            .section__part.section__part--5
              p.section__text У нас нет прайса, потому что мы работаем на заказ и делаем именно ту упаковку, которая нужна каждому из наших клиентов. 
              p.section__text Мы имеем множество наработок, необходимых для качественного производства. Ценим клиентов за доверие и долгосрочные сотрудничества, предлагаем лояльные условия по расчётам и доставке заказов.
              p.section__text.section__text--italic Наш слоган очень прост и четко отражает наше отношение к клиентам: «В цене сойдемся, в качестве не подведем» 
            .section__part.section__part--5
              .section__photo.section-photo.section-photo--left.section-photo--full       
                .section-photo__inner
                  .section-photo__img         
                    img.img.img--responsive(src="img/about-2.png")
      section.section.section--promo
        .container 
          .promo
            .promo__info
              h2.promo__title Лучшие цены на расходники!
              p.promo__text Сейчас у нас в наличии, по лучшим ценам, перчатки х/б, респираторы, плёнка- стрейч!
            a.promo__btn.btn.btn--tr(href="#") Сделать заказ
      section.section.section--white.section--pre-numbers
        .container
          h2.section__title.section__title--center Отрасли, с которыми мы уже работаем
          .industries
            .industries__item.industries__item--chemical Химическое производство
            .industries__item.industries__item--food Пищевое производство
            .industries__item.industries__item--grocery Розничные сети
            .industries__item.industries__item--medicine Здравоохранение
            .industries__item.industries__item--washing Химчистки и прачечные
            .industries__item.industries__item--conveyor Легкая промышленность
            .industries__item.industries__item--factory Косметические производства
            .industries__item.industries__item--vehicle Строительные материалы
            .industries__item.industries__item--auto Автозапчасти, комплектующие
        #hexagon

      section.section.section--numbers
        .container
          h2.section__title.section__title--white.section__title--center Финфлекс сегодня
          .numbers
            .numbers__item
              .numbers__value 21
              .numbers__text год успешной <br/> работы
            .numbers__item
              .numbers__value 392
              .numbers__text вида <br/> продукции
            .numbers__item
              .numbers__value 2378
              .numbers__text кв.м. производственных <br/> площадей 
            .numbers__item
              .numbers__value 1306
              .numbers__text доставок собственным <br/> транспортом в год
            .numbers__item
              .numbers__value 230
              .numbers__text постоянных <br/> клиентов
            .numbers__item
              .numbers__value 24
              .numbers__text часа мин. время <br/> изготовления заказа
      section.section.section--white
        .container
          h2.section__title.section__title--center Наше производство
          .gallery
            a.gallery__item(data-fancybox="gallery" href="img/about-3.png")
              img.gallery__img(src="img/about-3.png")
            a.gallery__item(data-fancybox="gallery" href="img/about-4.png")
              img.gallery__img(src="img/about-4.png")
            a.gallery__item(data-fancybox="gallery" href="img/about-5.png")
              img.gallery__img(src="img/about-5.png")
            a.gallery__item(data-fancybox="gallery" href="img/about-6.png")
              img.gallery__img(src="img/about-6.png")
            a.gallery__item(data-fancybox="gallery" href="img/about-7.png")
              img.gallery__img(src="img/about-7.png")
            a.gallery__item(data-fancybox="gallery" href="img/about-8.png")
              img.gallery__img(src="img/about-8.png")
            a.gallery__item(data-fancybox="gallery" href="img/about-9.png")
              img.gallery__img(src="img/about-9.png")
    include includes/footer.pug
</html>