include includes/mixins.pug
doctype html
<html lang="en">

include includes/head.pug

body
  include includes/aside.pug
  .wrapper#panel
    include includes/header.pug
    main.main
      section.section.section--main
        video.main__video(poster="img/preview.png" id="bgvid" playsinline autoplay muted loop)
          source(src="img/video.mp4" type="video/mp4")
        .container
          .page
            h1.page__title.page__title--nomb Производство  упаковки из <wbr>полиэтилена 
              .animated
                ul.animated__list
                  li.animated__item за 24 часа
                  li.animated__item в Петербурге
                  li.animated__item любого объема
                  li.animated__item в Петербурге
            .page__promo.promo
              .promo__item
                .promo__title Упаковочные мешки
                img.promo__img(src='./img/category-1.png')
              .promo__item
                .promo__title Полиэтиленовая плёнка
                img.promo__img(src='./img/category-2.png')
      section.section.section--calc
        .container
          .section__row
            .section__part
              h2.section__title.section__title--white.section__title--left Рассчитайте стоимость вашего заказа
              p.section__text.section__text--white Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi Ipsam voluptatem quia voluptas sit aspernatur aut
            .section__part.calc
              .calc__fields
                .calc__field.calc__field--90.input-group
                  label.input-group__label Вид продукции: 
                  +select('name','Полиэтиленовая плёнка','Полиэтиленовая плёнка','Полиэтиленовая плёнка')
                .calc__field.calc__field--90.input-group
                  label.input-group__label Вид пленки: 
                  +select('name','Термоусадочная плёнка','Термоусадочная плёнка','Термоусадочная плёнка')
                .calc__field.calc__field--75.input-group
                  label.input-group__label Тип пленки: 
                  +radio('name','Полурукав','Рукав')
                .calc__field.input-group.input-group--start
                  label.input-group__label Длина, Ширина, Толщина: 
                  .input-group__group
                    .input-group__box
                      input.input-group__input
                      .input-group__desc м
                    .input-group__box
                      input.input-group__input
                      .input-group__desc мм
                    .input-group__box
                      input.input-group__input
                      .input-group__desc м

              .calc__fields.calc__fields--info
                .calc__field.input-group
                  input.input-group__input.input-group__input--name(name="name" placeholder="Ваше имя")
                  input.input-group__input.im--phone.input-group__input--phone(name="phone" placeholder="Телефон")
              .calc__buttons
                a.calc__btn.btn.btn--orange Рассчитать
                p.calc__privacy Нажимая на кнопку, вы даете согласие на обработку своих персональных данных согласно с 
                  a.link.link--light(href='#') политикой конфиденциальности 

      section.section.section--advantages
        .container
          .advantages
            .advantages__item.advantages__item
              .advantages__title.advantages__title--fast
                | Сделаем быстро
              .advantages__text
                | Изготовим заказ точно в срок. Возможно срочное производство за 24 часа и даже меньше
            .advantages__item.advantages__item
              .advantages__title.advantages__title--rst
                | Работаем по ГОСТу
              .advantages__text
                | Было бы здорово написать, по какому именно, но разработчик пока что этого не знает:)



            .advantages__item.advantages__item
              .advantages__title.advantages__title--truck
                | Доставим бесплатно
              .advantages__text
                | Доставка заказов любого объема по Санкт-Петебургу и Лен. области полностью бесплатна
            .advantages__item.advantages__item
              .advantages__title.advantages__title--stars
                | Заботимся о качестве
              .advantages__text
                | Вся продукция производится на современном оборудовании и имеет необходимые 
                a.link.link--orange.link--dashed(href='#') сертификаты
          
          a.btn.btn--orange Заказать консультацию
      section.section.section--news.section--white
        .container
          h2.section__title.section__title--center Последние новости

          .news
            .news__items
              each val in ['Новость 1', 'Новость 2', 'Новость 3']
                article.news__item.article
                  img.article__img(src='./img/article.png')
                  .article__desc
                    .article__title= val
                    .article__text "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque …
            a.news__link.link.link--orange(href='#') Перейти в архив новостей


    include includes/footer.pug
  
  

</html>