include includes/mixins.pug
doctype html
html(lang="ru")

  include includes/head.pug

  body
    include includes/aside.pug
    .wrapper#panel
      main.main
        section.section.section
          .container
            ul.list
              li.list__item
                a.list__link(href="main.html") Главная
              li.list__item
                a.list__link(href="main.html") Контакты
