 /* imports */
@import "./imports/_mixins.less";
@import "./imports/_grid.less";
@import "./imports/_variables.less";
@import "./imports/_fonts.less";

body, html {
  font-family: "Exo 2";
  color: @text;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}


/* typo */
h1,h2,h3,h4,p {
  margin: 0;
}


::-webkit-input-placeholder { /* Chrome */
  color: @text-light;
}
:-ms-input-placeholder { /* IE 10+ */
  color: @text-light;
}
::-moz-placeholder { /* Firefox 19+ */
  color: @text-light;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: @text-light;
  opacity: 1;
}

/* overrides */
.container {
  padding: 0 20px;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    &--logo {
      
    }
    &--callback {

    }
  }
}
.logo {
  position: relative;
  display: flex;
  align-items: center;

  font-size: 0;
  cursor:pointer;

  &:before {
    content: '';
    display: block;
    background-image: url('../img/logo-orange.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    /*
     linear-gradient(251deg, #f46e34 0%, #ff9a2f 100%)
    */
  }
}

.btn {
  display: block;
  height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 14px rgba(243, 243, 243, 0.5);
  border-radius: 16px;

  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 60px;
  cursor: pointer;

  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  &--orange {
    background-image: linear-gradient(73deg, #ff9930 0%, #f46f34 100%);
  }
}

.link {

  &--light {
    color: @text-light;
    text-decoration: underline;
  }

  &--orange {
    color: @text-orange;
    text-decoration: underline;
  }
}

.nav {
  display: none;
  &__list {
    
  }

  &__item {
    display: inline-block;
  }

  &__link {
    color: @text;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;

  }
}

.navbar-toggler {
  height:40px;
  width: 40px;
  min-width: 40px;
  border-radius: 50%;
  background-image: linear-gradient(251deg, #f46e34 0%, #ff9a2f 100%);
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  span {
    display: block;
    width: 14px;
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 3px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.callback {
  text-align: right;
  &__phone {
    color: @text;
    font-family: "Exo 2";
    font-size: 18px;
    font-weight: 400;

    text-decoration: none;
    cursor: pointer;

    margin-bottom: 5px;
    span {
      color:@text-orange;
    }

  }

  &__btn {

  }

  &__info {
    display: none;
  }

  &__link {
    color: @text;
    font-size: 10px;
    font-weight: 400;
  }
}





.page {
  &__title {
    color: @text-orange;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 30px;
  }
}


.section {
  position: relative;
  padding: 40px 0;
  background-color: #f5f5f5;

  &--white {
    background-color: #ffffff;
  }
  &--page {
    padding-top: 0;
    
    .container {
      z-index: 2;
    }
  }

  &--calc {
    background-color: transparent;
    z-index: 1;
    &:before {
      content: '';
      position: absolute;
      display: block;
      height: ~'calc(100% + 300px)';
      width: 100%;
      bottom:100px;
      background-image: linear-gradient(251deg, #f46e34 0%, #ff9a2f 100%);
      z-index: 0;
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      background-color: #f5f5f5;
      width: 150%;
      height: 100px;
      
      top: -475px;
      left: -25%;
      transform: rotateZ(-8deg);
      z-index: 0;


    }
  }

  &--advantages {
    

    &:before {
      content: '';
      position: absolute;
      display: block;
      height: ~'calc(100% + 100px)';
      width: 100%;
      bottom:0;
      background-image: url('../img/bg-granules.png');
      background-position: center;
      background-repeat: no-repeat;
      z-index: 0;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 10px;

    &--white {
      color: #ffffff;
    }

    &--center {
      text-align: center;
      margin-bottom: 40px;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 10px;

    &--white {
      color: #ffffff;
    }
  }
}

.promo {
  &__item {
    position: relative;
    display: block;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 14px rgba(243, 243, 243, 0.5);

    background-color: #ffffff;
    margin-bottom: 20px;

    cursor: pointer;

    max-width: 300px;
    max-height: 300px;
    z-index: 1;
    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
      
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    position: absolute;
    bottom: 20px;
    color: @text;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    width: 100%;
    z-index: 2;
  }

  &__img {
    display: block;
    width: 50%;
    height: auto;
    position: absolute;
    z-index: 1;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin:auto;
  }
  
}

.form {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 14px rgba(243, 243, 243, 0.5);
  background-color: #ffffff;
  
  margin-right: -15px;
  margin-left: -15px;
  padding: 30px 20px;
  z-index: 1;

  &__fields {
    border-bottom: 1px solid #afafaf;
    margin-bottom: 20px;
    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
  &__buttons {

  }

  &__field {

  }

  &__privacy {
    color: @text-light;
    font-family: "Exo 2";
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    line-height: 20px;
  }

  &__btn {
    margin-bottom: 20px;
  }
}

.select {
  position: relative;
  margin-bottom: 20px;

  &--active {
    .select__inner {
      display: block;
    }
  }

  &__input {
    display: none;
  }

  &__placeholder {
    position: relative;
    height: 44px;
    border: 1px solid #afafaf;
    line-height: 44px;

    padding-left: 20px;
    padding-right: 40px;

    color: @text-light;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 15px;
      top: 0px;
      bottom: 0;
      margin: auto;
      width: 16px;
      height: 8px;

      background-image: url('../img/icon-down.png');
      background-position: center;
      background-repeat: no-repeat;
    }

  }

  &__inner {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    margin: auto;
    background: #fff;
    border: 1px solid #f1f1f1;
    z-index: 4;
    width: calc(100% - 50px);
  }

  &__item {

  }
}

.input-group {
  &__label {
    display: block;
    color: #5b5b5b;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  &__input {
    display: block;
    width: 100%;
    height: 44px;
    
    margin-bottom: 10px;
    padding: 0px 20px;

    box-shadow: inset 0 1px 10px rgba(188, 188, 188, 0.2);
    border: 1px solid #e6e6e6;


  }
}


.advantages {

  &__item {
    position: relative;
    color: @text;
    font-size: 18px;
    line-height: 32px;

    margin-bottom: 30px;
  }

  &__title {
    font-weight: 700;
    padding-left: 65px;
    margin-bottom: 20px;
    line-height: 50px;
    
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border: 1px solid #ffffff;
      
      background-position: center;
      background-repeat: no-repeat;
      left: 0;
      top: 0;
    }

    &:nth-child(2n) {
      &:before {
        background-color: #fe982f;
      }
    }
    
    &:nth-child(2n+1) {
      &:before {
        background-color: #f46e34;
      }
    }
    &--fast {
      &:before {
        background-image: url('../img/icon-runner.png');
      }
    }   

    &--rst {
      &:before {
        background-image: url('../img/icon-rst.png'); 
      } 
    }

    &--truck {
      &:before {
        background-image: url('../img/icon-truck.png'); 
        
      }
    }

    &--stars {
      &:before {
        background-image: url('../img/icon-stars.png'); 
      }
    }
  }

  &__text {
    font-weight: 400;
  }
}

.news {
  &__item {
    margin-bottom: 30px;
  }

  &__link {
    display: block;
    text-align: center;
  }
}

.article {
  box-shadow: 0 10px 16px rgba(227, 231, 235, 0.5), 0 0 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  

  &__img {
    width: 100%;
    height: auto;
  }
  &__desc {
    padding: 25px 20px;
  }
  &__title {
    color: @text;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 15px;
  }
  
  &__text {
    color: @text;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;

  }
}